{% load static %}
<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ogani Template" />
    <meta name="keywords" content="Ogani, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ products.name }}</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet" />

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'main/css/font-awesome.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'main/css/elegant-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'main/css/nice-select.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'main/css/jquery-ui.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'main/css/owl.carousel.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'main/css/slicknav.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}" type="text/css" />
  </head>

  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header" style="margin-bottom: 35px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="header__logo">
              <a href="{% url 'index' %}"><img src="{% static 'main/img/logo.png' %}" alt="" /></a>
            </div>
          </div>
          <div class="col-lg-6">
            <nav class="header__menu">
              <ul>
                <li class="active">
                  <a href="{% url 'index' %}">Home</a>
                </li>
                <li>
                  <a href="{% url 'catalog' %}">Shop</a>
                </li>
                <li>
                  <a href="{% url 'contact' %}">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
          {% if user.is_authenticated %}
            <div class="login-row">
              <a href="http://127.0.0.1:8000/admin"><i class="fa fa-user"></i> {{ user.username }}</a>
            </div>
            {% else %}
            <div class="login-row">
                <a href="http://127.0.0.1:8000/admin"><i class="fa fa-user"></i> Login</a>
              </div>
          {% endif %}
        </div>
        <div class="humberger__open">
          <i class="fa fa-bars"></i>
        </div>
      </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'main/img/breadcrumb.jpg' %}">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="breadcrumb__text">
              <h2>{{ products.name }}</h2>
              <div class="breadcrumb__option">
                <a href="./index.html">Home</a>
                <a href="./index.html">{{ products.department }}</a>
                <span>{{ products.name }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="product__details__pic">
              <div class="product__details__pic__item">
                <img class="product__details__pic__item--large" src="{{ products.image.url }}" alt="" />
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="product__details__text">
              <h3>{{ products.name }}</h3>
              {% if products.discount %}
                <div class="product__details__price">${{ products.discounted_price|floatformat:2 }}</div>
              {% else %}
                <div class="product__details__price">${{ products.price|floatformat:2 }}</div>
              {% endif %}
              <p>{{ products.description_short }}</p>
              <ul>
                {% if products.availability > 0 %}
                  <li>
                    <b>Availability</b> <span>In Stock</span>
                  </li>
                {% else %}
                  <li>
                    <b>Availability</b> <span>Not available</span>
                  </li>
                {% endif %}
                <li>
                  <b>Weight</b> <span>{{ products.weight }}kg</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="product__details__tab">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab" aria-selected="true" style="cursor: default;">Description</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="tabs-1" role="tabpanel">
                  <div class="product__details__tab__desc">
                    <p>{{ products.description_long }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer__about">
              <div class="footer__about__logo">
                <a href="./index.html"><img src="{% static 'main/img/logo.png' %}" alt="" /></a>
              </div>
              <ul>
                <li>Address: Moskovskoye, 77 Samara</li>
                <li>Phone: +7 (937)-035-93-72</li>
                <li>Email: support@pguti.com</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
            <div class="footer__widget">
              <h6>Useful Links</h6>
              <ul>
                <li>
                  <a href="#">About Us</a>
                </li>
                <li>
                  <a href="#">About Our Shop</a>
                </li>
                <li>
                  <a href="#">Secure Shopping</a>
                </li>
                <li>
                  <a href="#">Delivery infomation</a>
                </li>
                <li>
                  <a href="#">Privacy Policy</a>
                </li>
                <li>
                  <a href="#">Our Sitemap</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="#">Who We Are</a>
                </li>
                <li>
                  <a href="#">Our Services</a>
                </li>
                <li>
                  <a href="#">Projects</a>
                </li>
                <li>
                  <a href="#">Contact</a>
                </li>
                <li>
                  <a href="#">Innovation</a>
                </li>
                <li>
                  <a href="#">Testimonials</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="footer__widget">
              <h6>Join Our Newsletter Now</h6>
              <p>Get E-mail updates about our latest shop and special offers.</p>
              <form action="#">
                <input type="text" placeholder="Enter your mail" />
                <button type="submit" class="site-btn">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'main/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'main/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'main/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'main/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'main/js/mixitup.min.js' %}"></script>
    <script src="{% static 'main/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'main/js/main.js' %}"></script>
  </body>
</html>
